In [11]:
import pandas as pd
df = pd.read_csv(r'data_dt.csv')
df.head()

   ID     Age  Income  Gender Martial Status Buys
0   1    0-21    High    Male         Single   No
1   2    0-21    High    Male        Married   No
2   3   21-35    High    Male         Single  Yes
3   4  35-100  Medium    Male         Single  Yes
4   5  35-100     Low  Female         Single  Yes

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Age'] = le.fit_transform(df['Age'])
df['Income'] = le.fit_transform(df['Income'])
df['Gender'] = le.fit_transform(df['Gender'])
df['Marital Status'] = le.fit_transform(df['Martial Status'])
df['Buys'] = le.fit_transform(df['Buys'])
df

    ID  Age  Income  Gender Martial Status  Buys  Marital Status
0    1    0       0       1         Single     0               1
1    2    0       0       1        Married     0               0
2    3    1       0       1         Single     1               1
3    4    2       2       1         Single     1               1
4    5    2       1       0         Single     1               1
5    6    2       1       0        Married     0               0
6    7    1       1       0        Married     1               0
7    8    0       2       1         Single     0               1
8    9    0       1       0        Married     1               0
9   10    2       2       0         Single     1               1
10  11    0       2       0        Married     1               0
11  12    1       2       1        Married     1               0
12  13    1       0       0         Single     1               1
13  14    2       2       1        Married     0               0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,1:-1], df.iloc[:,-1], test_size=0.2, random_state=5)
print(len(X_train))
print(len(X_test))
print(X_train)
print(X_test)
y_pred = model.predict(X_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='micro')

In [ ]:
f1_score(y_test, y_pred, average='macro')

In [ ]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='micro')

In [ ]:
precision_score(y_test, y_pred, average='macro')

In [ ]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='micro')
recall_score(y_test, y_pred, average='macro')

In [ ]:
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.datasets import make_classification
from sklearn.svm import SVC
confusion_matrix(y_test, model.predict(X_test))
#True positive:predicted positive and it’s true.
#False positive: predicted positive and it’s false
#False negative: predicted negative and it’s false
#True negative: predicted negative and it’s true

In [ ]:
X, y = make_classification(random_state=5)
clf = SVC(random_state=5)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
cm = confusion_matrix(y_test, predictions, labels=clf.classes_)
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=clf.classes_)
disp.plot()
plt.show()